html, body {
    padding: 0;
    margin: 0;
}

@media print {
    body {
        zoom: 1 !important;
    }
}

body {

    font-family: sans-serif;
    font-size: 35px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 80px;
    color: #a02200;
    margin-bottom: 40px;
}

p {
    font-size: 40px;
}

@media screen {
    .slide-wrapper.current .slide {
        background: #ddd;
    }
}

.slide {
    background: #eee;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-Sizing: border-box;
    padding: 80px 150px;
}

ul, ol {
    margin: 0;
    margin-top: 30px;
    padding: 0;

}

li, li {
    padding: 0;
    margin: 0;
    font-size: 40px;
    line-height: 70px;

}

.presentation.single .slide-wrapper,.presentation.booklet .slide-wrapper {
    margin: 0 auto;

}

.presentation.preview {
    zoom: 0.23;
    padding: 4%;
    overflow: hidden;
}

.presentation.preview .slide-wrapper {
    float: left;
    padding-right: 2%;
    padding-bottom: 2%;
}